*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;  /*  light=300   Regular=400  */
    background-color: #f2f2f2; 
}

a {
    color: rgb(102, 145, 124);
}

.copyright a:hover {
    color: rgb(82, 112, 97);
}

.hero {
    background-image: url('../images/hero-1.jpg');
    background-size: cover;
    height: 70vh;
    margin-bottom: 80px;
    color: #fff;
}

header {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0));
}

.logo {
    font-size: 1.4rem;
    font-weight: 500;
}

.nav-large {
    display: none;
}

.active {
    background-color: rgba(255, 255, 255, 0.3);
}

.nav-large a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.menu-button {
    margin-top: 10px;
}

.nav-small {
    display: none;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
}

.grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 75px;
}

.grid * {
    margin: 13px;
}

.grid p {
    max-width: 500px;
}

.grid img {
    width: 88vw;
}

main {
    margin-bottom: 100px;
}

footer {
    background-color: rgb(0, 0, 0);
    color: #fff;
    padding: 25px 15px;
    text-align: center;
}

.footer-hero {
    font-size: 1.5rem;
    margin: 100px 0;
}

footer span {
    display: block;
    margin: 80px 0;
}

footer li {
    list-style: none;
    display: inline-block;
    margin: 0 30px;
}

@media(min-width: 1024px) {

    .nav-large {
        display: block;
    }

    .nav-large li {
        list-style: none;
        display: inline-block;
        margin: 0 25px;
    }
    
    .nav-large a {
        text-decoration: none;
        color: #fff;
        padding: 7px 15px;
        border-radius: 30px;
        background-color: rgba(255, 255, 255, 0);
        transition: 0.2s ease-in;
    }

    .menu-button {
        display: none;
    }

    .grid {
        flex-direction: row;
        justify-content: space-between;
        margin: 100px 9%;
    }    

    .reverse {
        flex-direction: row-reverse;
    }

    .grid * {
        margin: 13px;
    }

    .grid img {
        width: 300px;
    }
}
